@model IEnumerable<MyJewelryStore.Models.NewProduct>

@{
    ViewData["Title"] = "Dodawanie nowych produktów";
}

<h2>Dostępne produkty</h2>

<p>
    <a asp-action="Create">
        <div class="form-group">
            <input type="submit" value="Nowy produkt" class="btn btn-primary" />
        </div>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Orientacyjna cena
            </th>
            <th>
                Opis
            </th>
            <th>Szczegóły</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
